<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/main.css">
    <meta name="theme-color" content="#494949">
    <meta name="author" content="IT, Forum ETSEIB 2018">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

    {% block head %}
    {% endblock head %}

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            {% if current_user.is_authenticated %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand white-text" href="/">Registration menu</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right ">
                            <li class="white-text"><a href="/log">Logs</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{{current_user.name}} {% if current_user.admin %}(Admin){% endif %}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if current_user.is_authenticated %}
                                <li><a href='/log'>Logs</a></li>
                                {% if current_user.admin %}
                                <!--<li><a href='/hours'>Hours of all students</a></li>-->
                                <li><a href="/all/colabs">Volunteers</a></li>
                                <li><a href="/all/acts">Activities</a></li>
                                <!--<li><a href="/reset">Reset</a></li>-->
                                {% endif %}
                                {% endif %}

                                <!--<li><a href="/counter/1">Counter</a></li>-->
                                <li><a href="/logout">Logout</a></li>
                                <li><a href="https://forumetseib.upc.edu">Main webpage</a></li>
                            </ul>
                        </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>

{% block body %}

{% endblock %}

<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <p><a href='/'>Forum Registration Assistant</a></p>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <p><a href='/thank_you'>About</a></p>
            </div>
            <!--<div class="social-icons col-sm-6 text-right text-center-xs">

                    <a class="btns" target="_blank" href="https://twitter.com/forumetseib">
                        <i aria-hidden="true" class="fa fa-twitter fa-lg"></i>
                    </a>


                    <a class="btns" target="_blank" href="https://fb.com/forumetseib">
                        <i aria-hidden="true" class="fa fa-facebook fa-lg"></i>
                    </a>


                    <a class="btns" target="_blank" href="mailto:forum.etseib@upc.edu">
                        <i aria-hidden="true" class="fa fa-envelope-o fa-lg"></i>
                    </a>

            </div>-->
            <div class="col-md-12 text-center">
                <small>Made with ❤ by <strong><a href='https://forumetseib.upc.edu' >Forum ETSEIB 2018</a></strong></small>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
