{% extends 'base.html' %}

{% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <meta name="theme-color" content="#494949">

{% endblock %}



{% block body %}

<div class="content container">

    <div class="row margin-top">
        <div class="col-md-10 col-md-offset-1">
            <div style="text-align: center;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">This is an error</h4>
                    </div>
                    <div class="panel-body">
                    <p>Something happened, look at <b>error.log</b> to see what.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                            
{% endblock %}

