{% extends 'base.html' %}

{% block head %}
<title>Reset Required</title>
{% endblock %}

{% block body %}

<div class="content container">
        <div class="margin-top">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Step required. Initialize the app</h4>
                    </div>
                    <div class="panel-body">
                        <p>The app needs a database with the Participants, Activities and Volunteers.</p> 
                        <p>Visit <a href="https://github.com/visaub/Forum-Registrer/blob/master/README.md" target="blank">the repository page</a> to learn how.</p>
                    </div>
                </div>


            </div>
        </div>
</div>

{% endblock %}