{% extends 'base.html' %}

{% block head %}
<title>Forum Registration Assistant</title>
{% endblock head %}

{% block body %}

<div class="content container">
        <div class="margin-top">
            <div class="col-md-6 col-md-offset-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Forum Registration Assistant</h4>
                    </div>
                    <div class="panel-body">


    <div class="form-group"><label class="col-md"><p><h2>Enter your personal details to log-in</h2></p></label></div>

    <form method="post" action="/login" class="add_email form-horizontal">
        <div class="form-group"><label class="col-md-3 control-label">Username</label>
            <div class="col-md-9"><input class="form-control" id="id_email" name="email" placeholder="" size="30" title="" type="text" required=""></div>
        </div>
        <div class="form-group"><label class="col-md-3 control-label">Password</label>
            <div class="col-md-9"><input class="form-control" id="id_password" name="password" placeholder="" size="30" title="" type="password" required=""></div>
        </div>
        <input type="hidden" id="login_time" name="login_time" value="0">
        <div class="form-group">
        <div class="col-md-9"><div class="checkbox"><label for="id_remember"><input class="" id="id_remember" name="remember" type="checkbox"> Remember Me</label></div>
        </div></div>
        <button onclick="updateTime()" name="action_add" class="btn btn-primary btn-block" type="submit">Log in</button>
    </form>



                    </div>
                </div>
            </div>
        </div>
</div>

<script>
function updateTime() {
var d = new Date();

n=d.getFullYear()+','+(parseInt(d.getMonth())+1)+','+d.getDate()+','+d.getHours()+','+d.getMinutes()+','+d.getSeconds();

document.getElementById("login_time").value = n;

}
</script>

{% endblock %}