{% extends 'base.html' %}

{% block head %}
<title>Select Student</title>
{% endblock head %}

{% block body %}

<div class="content container">
        <div class="margin-top">
            <div class="col-md-6 col-md-offset-3">
                {% if status != '' %}
                {% if status[0]==True %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <b>APPROVED!</b><b> {{status[3]}} </b>accepted
                    </div>
                </div>
                {% endif %}
                {% if status[0]==False %}
                {% if status[1]=='-1' %}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <b>DENIED!</b> User does not exist
                    </div>
                </div>
                {% endif %}
                {% if status[1]=='1' %}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <b>DENIED!</b> {{status[3]}} was accepted at {{status[2]}}
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Registration for: <b>{{event.name}}</b></h4>
                    </div>
                    <div class="panel-body">


    <p><h2>Register by QR</h2></p>
    <p>Scan the QR code of the UPC ID</p>
    <a class="btn btn-primary btn-block" href="/check-in/qr">Scan QR</a>
    <br>

    <p><h2>Search by Name</h2></p>

    <form method="post" action="/check-in" class="add_email form-horizontal">
        <div class="form-group"><label class="col-md-3 control-label" for="id_dni">Minimum 3 letters</label>
            <div class="col-md-9"><input class="form-control" id="id_dni" name="name" placeholder="Name or Lastname" size="30" title="" type="text" required=""></div>
        </div>
        <button name="action_add" class="btn btn-primary btn-block" type="submit">Search</button>
    </form>

                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}