{% extends 'base.html' %}

{% block head %}
<title>Index</title>
{% endblock %}

{% block body %}

<div class="content container">
        <div class="margin-top">
            {% if yeah==True %}
            <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Successfully signed in as {{current_user.email}}
    </div>{% endif %}
            <div class="col-md-6 col-md-offset-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Select an event</h4>
                    </div>
                    <div class="panel-body">
    <div class="form-group">
    <label class="col-md-6">
    {% for kind_event in events %}
    {% if events[kind_event]!=[] %}
    <p><h2>{{kind_event}}</h2></p>

        {% for event in events[kind_event] %}
        <p><a href='/act/{{event[1]}}'>{{event[0]}}</a></p>
        {% endfor %}

    {% endif %}
    {% endfor %}
    </label>
    </div>

                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}