{% extends 'base.html' %}

{% block head %}
<title>Thank you</title>
{% endblock head %}

{% block body %}

<div class="content container">
        <div class="margin-top">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">{{title}}</h4>
                    </div>
                    <div class="panel-body">
<p>This tool was built on February 2018 by <a href='https://linkedin.com/in/victor-sainz'>IT</a> department of Forum ETSEIB in order to make the control
of assistance to activities more effective.</p>
<p>It could not have been completed without the guide, help and support of SOS ETSEIB.
Thanks to the code of their web, <a href='https://sosetseib.upc.edu'>sosetseib.upc.edu</a>, we were able to deploy features much faster, specially on
log-in and database management. They also provided continous feedback that pushed this little project forward.</p>
<p>We would also like to thank HackUPC, for their <a href='https://my.hackupc.com/'>HackAssistant</a>, from which their user interface,
search tables and QR scanner are taken and adapted to our needs.</p>
<p>A complete tutorial will be soon available, for both organizers and volunteers. For more information, call +34 659196581 or send an email to
<a href="mailto:it@forum-etseib.com">it@forum-etseib.com</a>.
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}
<!-- and <a href='https://github.com/jandrikus'>Jandrikus</a>. -->